/*
 * About
 */

.cover-container {
    background-image: url(../../assets/image/footer.jpg);
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 10rem;
    padding: 10rem 48px 3rem;
    float: left;
    width: 100%;
}

.cover-container h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: normal;
    color: #fff;
    text-transform: none;
}

.cover-container .description {
    border: 2px solid #fff;
    padding: 3rem 5rem;
    margin-top: 5rem;
    float: left;
    width: 100%;
}

.cover-container .description p {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.4;
    text-align: justify;
}

.cover-container .description .btn-green {
    background-color: rgba(0, 0, 0, 0.51);
    border: 2px solid #9BCB6C;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 800;
    color: #9BCB6C;
    margin-top: 40px;
    border-radius: 0;
    width: 270px;
    height: 52px;
    box-shadow: none;
    line-height: 40px;
}

.cover-container .description img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 991px) {
    .cover-container .description {
        padding: 1rem;
        margin-top: 3rem;
    }
    .cover-container .description img {
        height: auto;
    }
}

@media screen and (max-width: 767px) {
    .cover-container {
        padding: 15rem 20px 3rem;
    }
    .cover-container h1 {
        font-size: 40px;
    }
}