<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">
            <svg preserveAspectRatio="xMidYMid meet" data-bbox="0 0 125 264" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 264" height="44" width="20" data-type="color" role="img">
                <g><path fill="#9bcb6c" d="M104.167 0H125L20.833 264H0L104.167 0z" fill-rule="evenodd" data-color="1"></path></g>
            </svg>
            <a href="/" target="_self">Eric<br/>Matamoros</a>
            <span>Speaker,<br/>Scientist & Writer</span>
        </h3>
        <ul class="nav nav-masthead list-social ml-5">
            <li><a href="https://www.linkedin.com/in/ericmatamoros/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://www.facebook.com/eric.matamorosmorales" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com/ericmatamoros99" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/ericmatamoros/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" [routerLink]="['']" [fragment]="'welcome'">Home</a>
            <a class="nav-link" [routerLink]="['']" [fragment]="'story'">My Story</a>
            <a class="nav-link" [routerLink]="['']" [fragment]="'speaking'">Speaking</a>
            <a class="nav-link" [routerLink]="['booking']" [fragment]="'testimonials'">Testimonial</a>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>
<!-- Footer Section -->
<footer class="section-footer">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="footer-mail">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 264" height="138" width="65" role="img">
                    <g><path fill="#9bcb6c" d="M104.167 0H125L20.833 264H0L104.167 0z" fill-rule="evenodd" data-color="1"></path></g>
                </svg>
                <div class="d-inline-block align-bottom">
                    <a href="mailto:booking.ematam@gmail.com">booking.ematam@gmail.com</a>
                    <ul class="footer-social">
                        <li><a href="https://www.linkedin.com/in/ericmatamoros/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.facebook.com/eric.matamorosmorales" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/ericmatamoros99" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/ericmatamoros/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <p class="footer-bottom">&copy; 2019 by Eric Matamoros.</p>
        </div>
        <div class="col-12 col-md-6">
            <h2 class="footer-right-text">"Are you tired of living the same day for all your life? Just contact me"</h2>
        </div>
    </div>
</footer>