<div class="cover-container d-flex w-100 p-5 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">
                <svg preserveAspectRatio="xMidYMid meet" data-bbox="0 0 125 264" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 264" height="44" width="20" data-type="color" role="img">
                    <g><path fill="#9bcb6c" d="M104.167 0H125L20.833 264H0L104.167 0z" fill-rule="evenodd" data-color="1"></path></g>
                </svg>
                <a href="/" target="_self">Eric<br/>Matamoros</a>
                <span>Speaker,<br/>Scientist & Writer</span>
            </h3>
            <ul class="nav nav-masthead list-social ml-5">
                <li><a href="https://www.linkedin.com/in/ericmatamoros/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.facebook.com/eric.matamorosmorales" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/ericmatamoros99" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/ericmatamoros/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">My Story</a>
                <a class="nav-link" href="#">Speaking</a>
                <a class="nav-link" href="#">Testimonial</a>
            </nav>
        </div>
    </header>

    <div class="middle-content">
        <h1>There is only one life you decide what you want to do act now help others change the world</h1>
        <button class="btn btn-bookme">Book Me</button>
    </div>
</div>

<!-- Section 1 -->
<div class="about-story my-3">
    <div class="story-about">
        <div class="story-title text-center">
            <h4>MY STORY</h4>
        </div>
        <img src="../assets/image/Picture2.jpg" width="100%" alt="ericmatamoros" />
    </div>
    <div class="story-description">
        <svg preserveAspectRatio="xMidYMid meet" data-bbox="0 0 125 264" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 264" height="492" width="232" data-type="color" role="img">
            <g><path fill="rgba(155, 203, 108, 1)" d="M104.167 0H125L20.833 264H0L104.167 0z" fill-rule="evenodd" data-color="1"></path></g>
        </svg>
        <h3>“Eric and his project Biop AI Ltd. have changed the way cancer is diagnosed towards a better society.”</h3>
        <p>President of Egypt – Abdel Fattah el-Sisi</p>
        <h3>“Eric empowers others to change the world through his uniqueness and wise words. He transmits the passion on what he does and has helped many youngsters to find their way. As he says, there is only one life. You decide to die in a 9-5 full-time
            job or live doing what you love.”</h3>
        <p>Xavier Testar – Teacher at University of Barcelona</p>
    </div>
</div>

<!-- Section 2 -->
<div class="join-team my-3">

</div>

<!-- Footer Section -->
<footer class="section-footer">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="footer-mail">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 264" height="138" width="65" role="img">
                    <g><path fill="#9bcb6c" d="M104.167 0H125L20.833 264H0L104.167 0z" fill-rule="evenodd" data-color="1"></path></g>
                </svg>
                <div class="d-inline-block align-bottom">
                    <a href="mailto:booking.ematam@gmail.com">booking.ematam@gmail.com</a>
                    <ul class="footer-social">
                        <li><a href="https://www.linkedin.com/in/ericmatamoros/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.facebook.com/eric.matamorosmorales" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/ericmatamoros99" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/ericmatamoros/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <p class="footer-bottom">&copy;2019 by Eric Matamoros. Proudly created by <a href="/">Alejandro Jiménez</a></p>
        </div>
        <div class="col-12 col-md-6">
            <h2 class="footer-right-text">"Are you tired of living the same day for all your life? Just contact me"</h2>
        </div>
    </div>
</footer>