<div class="cover-container d-flex w-100 mx-auto flex-column" id="booking">
    <div class="middle-content">
        <h1>Book Eric Matamoros for<br>Your Next Event</h1>
    </div>
</div>

<!-- Contact Section -->
<div class="contact-section" id="contact">
    <div class="section-heading">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <h3>CONTACT</h3>
            </div>
            <div class="col-sm-12 col-lg-6 mt-3 mt-lg-0">
                <form action="" method="post" id="form-box" class="p-2">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <textarea name="msg" id="msg" class="form-control" placeholder="Message" cols="30" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="btn btn-primary btn-green" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="section-testimonial" id="testimonials">
        <div class="section-heading">
            <h2>TESTIMONIALS</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 mb-4">
                <section class="quotes testimonial-slick">
                    <div class="bubble">
                        <blockquote>
                            Awesome work friend, thank you for what you do for all of us. It was a huge joy to meet you. We'll do a lot of things together.
                        </blockquote>
                        <div></div>
                        <cite>Carols Sentis - World Impact Alliance Founder / Henkuai</cite>
                    </div>
                    <div class="bubble">
                        <blockquote>
                            So proude of you Eric!. So glad that our paths have crossed.
                        </blockquote>
                        <div></div>
                        <cite>Maria Castro Zuzuarregui - Emprendedora, Ticnificadoray PM</cite>
                    </div>
                    <div class="bubble">
                        <blockquote>
                            T'ho deuen dir molt, però t'had'agradar. Tens un xiquet extraordinari. Ojalà consegueixi tot elque es proposi en aquesta vida. Sapescoltar, no tothom ho sap fer. Quanho fa, se li senten les rodes del cervell com li giren i com va absorvint tot el que
                            sent i com ho ha d'utilitzar. És dificil explcar-te la sensació quem'ha donat. Però és una molt bona sensació. Enhorabona.
                        </blockquote>
                        <div></div>
                        <cite>MAMA</cite>
                    </div>
                    <div class="bubble">
                        <blockquote>
                            Dear Eric, Thank you for your response. This is helpful. I hope we will get there! Congratulations on your achievements.
                        </blockquote>
                        <div></div>
                        <cite>Emna Harigua</cite>
                    </div>
                    <div class="bubble">
                        <blockquote>
                            It was a pleasure meeting you yesterday. You are amazing, keep going on that. This is my what's app NO and for sure we'll keep in touch from time to time.
                        </blockquote>
                        <div></div>
                        <cite>Mohamed Elashaal - Egyptian, Electrical power & control engineer</cite>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>